@import "bulma";
@import "font-awesome";
@import "../variables.scss";

.gravatar {
    height: 30px;
    width: auto;
  }

.navbar {
    background-color: $facebook-blue;
    height: 42px;
    
  
    .fa {
       font-size: 40px;
        color: white;
    }
    

}