<div class="columns container">
    
    <div class="column is-three-quarters profile-img-bg">
    
  
    </div>
    <div id="profile-img">
        <%= gravatar_for current_user%>
        <%= link_to profile_path do %>
            <p><%= "#{current_user.first_name}" + " #{current_user.last_name}"%></p>
        <% end %>
    </div>
</div>
<div class="columns container">
    <div class="column is-three-quarters profile-navbar">
      <%= render 'users/profile_navbar'%>
    </div>
</div>