<div class="columns container">
  <div class="column is-three-quarters profile-img-bg">is-four-fifths</div>
</div>
<div class="columns container">
    <div class="column is-three-quarters profile-navbar">is-four-fifths</div>
</div>