@import "../variables.scss";
@import "../mixins.scss";

.new_user {
    display: flex;
    background-color: $facebook-blue;
    
    color: white;
    @include font-face;
    font-family: 'SourceSansPro'

}