@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
    src: url('SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
    src: url('SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
}