.container {
    padding-left: 8.5em;    
    .profile-img-bg {
        background-color: red;
        width: 77%;
        height: 17em;
    }
    .profile-navbar {
        background-color: blue;
        width: 77%;
    }
   
        
    .profile-friends {
        background-color: red;
        margin-top: 1em;
        height: 22em;

    }
    .post-timeline {
        background-color: green;
        margin-left: 1.1em;
        margin-top: 1em;
        height: 22em;

    } 
    
}