@import "bulma";
@import "font-awesome";
@import "../variables.scss";

.gravatar {
    height: 30px;
    width: auto;
    border-radius: 50%;
}
.column-3 {
    padding-right: 20%;
    padding-top: 2em;
}

.column-1 {
    padding-left: 20%;
    padding-top: 2em;
    display: flex;
    justify-content: flex-end;
    .gravatar {
        margin-right: 5px;
    }
}

.new_post {
    margin-top: 1em;
    border: solid 1px rgb(209, 213, 216);
    .label {
        background-color: #F5F6F7;
        border-bottom: solid 1px rgb(209, 213, 216);
        margin: 0;
        padding: 5px;
        font-size: 15px;
        color: rgb(90, 92, 94);
    }
    .post-form-box {
        background-color: white;
        display: flex;
        align-items: center;
        .gravatar {
            margin-left: 10px;
            height: 45px;
        }
        .post-text {
            width: 90%;
            height: 70px;
            resize: none;
            border: none;
            padding: 4% 10px;           
        }
    }
    .post-btn {
        display: flex;
        justify-content: center;
        background: white;
        border-top: solid 1px rgb(209, 213, 216);
        input {
            width: 90%;
            background-color: #3B5998;
            color: white;
            border: none;
            padding: .5em 0;
            margin: .5em 0;
            border-radius: 3px;
        }
    }
}

.timeline {
    
    li {
        border: solid 1px rgb(209, 213, 216);
        background-color: white;
        margin-top: 5px;
        padding: 8px 8px 0 8px;
        
        .creator {
            display: flex;
            .gravatar {
                padding-right: 3px;
            }
            
            color: #3B5998;
            font-weight: bold;
        }
        #time {
            font-size: 12px;
            color: rgb(90, 92, 94);

        }  
    }

    .likes {
        display: flex;
        border-top:1px solid gainsboro;
        justify-content: space-around;
        
        input, button {
            margin: 2px 0;
            height: 2em;
            width: 8em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            background-color: white;
            color: rgb(155, 155, 155);
            font-size: 12px;
            text-align: center;
            border: none;
            &:hover {
                background-color: rgb(219, 219, 219);
                cursor: pointer;
                border-radius: 1px;
            }
            i {
                font-size: 17px;
                margin-right: 4px;
            }
            
        }
        .unlike {
            color: #4080FF;
            font-weight: bold;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            i {
                font-size: 17px;
                margin-right: 4px;
            }
            

        }
    }   

}