.all-friends {
    
    background-color: white;
    border: solid 1px rgb(209, 213, 216);
    width: 85%;
    margin-top: 1em;
    @media only screen and (max-width: 1463px) {
        width: 77% !important;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 45%;  
            a {
                display: flex;   
                .friend-name {

                    font-size: 22px;
                    line-height: 15px;
                    color: #3B5998;
                    #friends-info {
                        display: flex;
                        flex-direction: column;
                    }

                    
                }
                .gravatar {
                    border-radius: 0;
                    width: 83px;
                    height: 83px; 
                }
            }
        } 
    }
}